html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascript/libs/underscore.min.js')
    script(type='text/javascript', src='/javascript/libs/jquery-1.4.2.min.js')
    script(type='text/javascript', src='/javascript/libs/bootstrap.min.js')
    script(type='text/javascript', src='/javascript/libs/angular.min.js')
    script(type='text/javascript', src='/javascript/libs/ace.js')
    script(type='text/javascript', src='/javascript/libs/theme-twilight.js')
    script(type='text/javascript', src='/javascript/libs/mode-javascript.js')
    script(type='text/javascript', src='/javascript/app/main.js')

  body(ng-app="tishadow")
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          ul.nav
            li
              a.brand(href="http://www.creador.cl")
                span.yyblue Concepto
                | Live 
          ul.nav.pull-right
            li
              a para depurar rapidamente las aplicaciones de Concepto DSL

    .container
      block content

      hr
      footer
        p <a href="https://www.creador.cl" target="_blank">Concepto Live</a>. &copy; 2018 Creador S.A. All Rights Reserved.
